<a href="https://colab.research.google.com/github/ReginaExMachina/Chess/blob/main/How_to_Chess_Programming_Basics_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Variables 

Variables are containers for storing values. For example:

In [28]:
favourite_piece = "Q"

This instructs the computer to create a variable named "favourite_pieces" and put the letter "Q" in it.

In [29]:
print(favourite_piece)

Q

##Data Types

Variables can store data of different types, and Python has several built-in data types including the following:

**Numeric**

*   **int** - a whole number (ex. 8, -49)
*   **float** - a floating point number  (8.1, -49.9)

In [21]:
a = 8
b = 8
c = a + b

print(c)

16

**Text**

The data type for text of any length is called a string. Multiple strings together can be **concatenated** using numerical operators.

In [20]:
favourite_piece = "Queen"
favourite_piece = "Queen" + " Knight"

print (favourite_piece)

Queen Knight

**Boolean**

Booleans represent one of two values: *True* or *False*.

In [13]:
is_king_in_check = True

**Sequence**

These types are used to store multiple items in a single variable.

In [15]:
favourite_pieces = ["Queen", "Knight", "Pawn"] #list

##Questions

I. Are the following two variables the same type?

In [18]:
x = 8
y = "8"

No, x is an integer and y is a string. They cannot be used in operations together unless one is **casted** to the other's type:

In [23]:
z = x + int(y)

print(z)

16

II. Boolean values can also act as numeric values (False = 0 and True = 1). Will the following arithmetic operation work without casting?

In [26]:
x = 8
y = True

In [27]:
z = x + y

print(z)

9

Yes, since the boolean value *True* is a special version of the numeric 1, there is no need to cast (aka change the type) beforehand.

This is often very useful in logical operations and functions.



---

[Previous](https://colab.research.google.com/github/ReginaExMachina/Chess/blob/main/How_to_Chess.ipynb) [Next](https://colab.research.google.com/drive/1zvfxSBY1EECMPqmKd1rV5bKo43eolC-r?usp=sharing)